{% extends 'index_base.html' %}


{% block title_block %}Change paperbook{% endblock %}
{% block main_content %}

<h1>Change book</h1>

<p>
<form action="{{ url_for('bp_books.change_paperbook_post', book_id=book.id)}}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label(class_="form-label") }} {{ form.title(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.author_first_name.label(class_="form-label") }} {{ form.author_first_name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.author_middle_name.label(class_="form-label") }} {{ form.author_middle_name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.author_last_name.label(class_="form-label") }} {{ form.author_last_name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.release_year.label(class_="form-label") }} {{ form.release_year(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.rating.label(class_="form-label") }} {{ form.rating(class_="form-control") }}
    </div>
   <div class="tinyspace"></div>
    <div class="form-group">
        {{ form.pic.label(class_="form-label") }}
        <input type="file" name="pic" class="form-control-file">
    </div>
    <div class="form-group">
        {{ form.category.label(class_="form-label") }} {{ form.category(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.language.label(class_="form-label") }} {{ form.language(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.annotation.label(class_="form-label") }} {{ form.annotation(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.publisher.label(class_="form-label") }} {{ form.publisher(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cover.label(class_="form-label") }} {{ form.cover(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.length.label(class_="form-label") }} {{ form.length(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.width.label(class_="form-label") }} {{ form.width(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.weight.label(class_="form-label") }} {{ form.weight(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.pages.label(class_="form-label") }} {{ form.pages(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.isbn.label(class_="form-label") }} {{ form.isbn(class_="form-control") }}
    </div>
    <div class="tinyspace"></div>
    {{ form.submit(class_="btn btn-primary") }}

</form>
</p>
{% endblock %}

